body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

p {
    margin: 0px;
}

h1, h2, h3 {
    margin: 0px;
}

nav, .hero-section, .footer {
    color: #F9FAF8;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    width: 900px;
}

.header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.hero-image {
    flex: 1;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 50px;
    width: 900px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
}

button {
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    flex-shrink: 0;
}

.primary-button {
    border: none;
}

.secondary-button {
    border-color: white;
}

.outline-box {
    border-radius: 10px;
    border-width: 2px;
    border-color: #3882F6;
    width: 50px;
    height: 50px;
    background-color: #3882F6;
}

.second-section {
    flex: 1;
    padding: 50px;
    text-align: center;
}

.cards-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card {
    color: rgba(0, 0, 0, 0.563);
    max-width: 200px;
}

.card-image {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.quote-section {
    /*flex: 1;*/
    display: flex;
    justify-content: center;
    padding: 50px;
    max-width: 900px;
}

.italic-text {
    font-size: 24px;
    font-weight: light;
    color: rgba(0, 0, 0, 0.563);
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.third-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 900px;
    padding: 40px 60px;
    background-color: #3882F6;
    margin: 50px;
    color: white;
    border-radius: 10px;
}

.footer {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 32px;
    flex: 1;
}





